<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
<td><%= line_item.quantity %>&times;</td>
<td><%= truncate(line_item.product.title, length: 5) %></td>
<td class="item_price"><%= number_to_currency(line_item.total_price, unit: 'INR') %></td>
<td><%= button_to '-', line_item, method: :delete, remote: true %></td>
<td><%= button_to '+', line_item, method: :patch, remote: true %></td>
</tr>